
.bg-color {
    background-color: green;

}

.full-width {
    width: 100%;
    margin: auto;
}

.button-height {
    height: 3ch ;
}

.text1 {
    text-align: center;
}

.img-fit {
    width: 70%
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.deplete-animation{
    animation: deplete 1.5s linear forwards;
}

.expand-animation{
    animation: deplete 1.5s linear reverse forwards;
}

@keyframes deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}

.button-radius {
    border-radius: 50%;
    width: 180px;
    height: 180px; 
    object-fit: cover;
}